<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doodle Duel</title>
    <link rel="stylesheet" href="/css/style.css" />
    <audio id="scribbleAudio" src="/audio/Scribble.mp3"></audio>
</head>

<body>
    <header>
       
    </header>
    <nav>
        <a href="/" id="home=btn">Home</a>
        {{#if logged_in}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <div id="login-signup">
            <a href="/login" id="login-btn">Login</a>
            <a href="/signup" id="signup-btn">Sign Up</a>
        </div>
        {{/if}}
    </nav>
    <main>
        {{{body}}}
    </main>
    
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>