<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleDuel.css" />
    <audio id="scribbleAudio" src="scribble.mp3" preload="auto"></audio>
    <title>Doodle Duel</title>
</head>
<body>
    <section class="container">
        <div id="toolbar">
            <h2>Doodle Duel</h2>
            <label for="stroke">Color</label>
            <input id="stroke" name='stroke' type="color">
            <label for="lineWidth">Width</label>
            <input id="lineWidth" name='lineWidth' type="number" value="1">
            <select id="lineStyle">
                <option value="solid">Solid</option>
                <option value="dotted">Dotted</option>
                <option value="dashed">Dashed</option>
            </select>
            <button id="undo">Undo</button>
            <button id="redo">Redo</button>
            <button id="clearAll">Clear All</button>
            <button id="save">Save</button>
        </div>
        <div class="drawing-board">
            <canvas id="drawing-board"></canvas>
        </div>
    </section>
    <script src="/js/scriptDuel.js"></script>
</body>
</html>