<div>
    <h2>Login</h2>
    <form id="loginForm">
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" name="username" required>

        <label for="password-login">Password:</label>
        <input type="text" id="password-login" name="password" required>

        <button type="submit" id="submit">Submit</button>
    </form>
</div>

<script src="/js/login.js"></script>